* {
	font-family: 'avenir';
}

#imgholder {
	text-align: center;
	padding-bottom: 20px;
}

img#logo {
	margin: auto;
}

.responsebox {
	width: 45%;
	border: 1px solid black;
	height: 210px;
	margin-right: 15px;
	margin: auto;
	margin-bottom: 20px;
	font-family: 'avenir';
}

textarea {
	width: 85%;
	height: 130px;
}

#submitResponse {
	width: 55%;
	border: 1px solid black;
	margin: auto;
	font-family: 'avenir';
}

.searchbox {
	text-align: center;
	width: 75%;
	display: inline-block;
	font-family: 'avenir';
}

.textboxHeader{
	width: 100%;
	margin: auto;
	margin-bottom: 3px;
	margin-top:5px;
}
#searchSubmit {
	display: inline-block;
	width: 15%;
	margin-right: 1%;
	border: 1px solid black;
}

#search {
	width: 76%;
	margin: auto;
}

.button {
	width: 18%;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	font-family: 'avenir';
}

.textwindow {
	border: 1px solid black;
	min-height: 400px;
	width: 98%;
	margin: auto;
	text-align: left;
	font-family: 'avenir';
}

.textbox {
	width: 95%;
	margin: auto;
	border-bottom: 1px solid black;
	margin-bottom: 4px;
	font-family: 'avenir';
}

body {
	text-align: center;
}
